{% extends 'RichardPQAdminBundle:layout:crud.index.html.twig' %}

{% block content_header_title %}Film Type{% endblock %}
{% block content_header_title_small %}List{% endblock %}

{% block content_header_breadcrumb %}System{% endblock %}
{% block content_header_breadcrumb_2lv %}Film Type{% endblock %}
{% block breadcrumb_icon 'gears' %}
{% block pageId 'filmtype' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Films Types</h3>
                    <a class="btn btn-success pull-right" href="{{ path('film-type_new') }}" >New Film Type</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="main-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>

                                <td class="element-description">{{ entity.description }}</td>
                                <td>{{ entity.filmCategory }}</td>
                                <td>
                                    {% embed 'RichardPQAdminBundle:widgets:action.buttons.widget.html.twig' with {'entity_route_prefix':'film-type', 'entity': entity} %}
                                    {% endembed %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}